extends layout

block content
    main
        h1 Articles

        if (result.length)
            each article in result
                p id = #{article.id}, title = #{article.title}, category = #{article.category}, timestamp = #{article.timestamp}
