extends layout

block content
    main
        .row.text-center.article-category
            if category == "science"
                .col.m6.s12
                    a.waves-light.waves-effect.btn.disabled(href="/articles/science")
                        i.fa.flask
                        span  #{lang.__('science')}
                .col.m6.s12
                    a.waves-light.waves-effect.btn(href="/articles/technology")
                        i.fa.fa-gears
                        span  #{lang.__('technology')}
            else
                .col.m6.s12
                    a.waves-light.waves-effect.btn(href="/articles/science")
                        i.fa.fa-flask
                        span  #{lang.__('science')}
                .col.m6.s12
                    a.waves-light.waves-effect.btn.disabled(href="/articles/technology")
                        i.fa.fa-gears
                        span  #{lang.__('technology')}


        if (result.length)
            each article in result
                include part_article