extends layout

block content

  main
    h1 Popular

    if (result.length)
      each res in result
        h3=res.temporalgranularity
          if(res.articleaidlist)
            each article in res.articleaidlist
              include part_article