extends layout

block content
  main
    h1 Users

    if (result.length)
      each user in result
        p id = #{user.id}, name = #{user.name}, region = #{user.region}, timestamp = #{user.timestamp}

